<section class="programs" id="classes">
  <div class="container container-programs">
    <p class="intro-text">Explore</p>
    <h2 class="programs-main">Discover Our Most Popular Yoga Programs</h2>
    <p class="page-subtitle">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="programs-list">
      <li class="programs-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/classes/classes-desk-1-min.jpg    1x,
              /img/classes/classes-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/classes/classes-tab-1-min.jpg    1x,
              /img/classes/classes-tab-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/classes/classes-mob-1-min.jpg    1x,
              /img/classes/classes-mob-1@2x-min.jpg 2x
            "
          />
          <img
            class="programs-picture"
            src="/img/classes/classes-mob-1-min.jpg"
            width="421"
            height="240"
            alt="Beginner Yoga: Foundations"
          />
        </picture>
        <div class="elements-item">
          <h3 class="programs-subtitle">Beginner Yoga: Foundations</h3>
          <p class="programs-text">
            Learn the basics of yoga in a supportive environment.
          </p>
        </div>
      </li>
      <li class="programs-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/classes/classes-desk-2-min.jpg    1x,
              /img/classes/classes-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/classes/classes-tab-2-min.jpg    1x,
              /img/classes/classes-tab-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/classes/classes-mob-2-min.jpg    1x,
              /img/classes/classes-mob-2@2x-min.jpg 2x
            "
          />
          <img
            class="programs-picture"
            src="/img/classes/classes-mob-2-min.jpg"
            width="421"
            height="240"
            alt="Vinyasa Flow: Energize Your Body and Mind"
          />
        </picture>
        <div class="elements-item">
          <h3 class="programs-subtitle">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <p class="programs-text">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>
      <li class="programs-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/classes/classes-desk-3-min.jpg    1x,
              /img/classes/classes-desk-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/classes/classes-tab-3-min.jpg    1x,
              /img/classes/classes-tab-3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/classes/classes-mob-3-min.jpg    1x,
              /img/classes/classes-mob-3@2x-min.jpg 2x
            "
          />
          <img
            class="programs-picture"
            src="/img/classes/classes-mob-3-min.jpg"
            width="421"
            height="240"
            alt="Restorative Yoga: Deep Relaxation and Healing"
          />
        </picture>
        <div class="elements-item">
          <h3 class="programs-subtitle">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="programs-text">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <button class="programs-button" type="button">Join now</button>
</section>
