<footer class="footer ">
    <div class="container footer-main-container column">
        <div class="footer-news column">
            <a href="#" class="logo">
                <svg width="1" height="1" class="logo-company-footer ">
                    <use href="../img/icons.svg#icon-company-logo"></use>
                </svg>
            </a>
            <p class="footer-descr">Subscribe to our newsletter for the latest updates on our yoga courses and events.
            </p>
            <form action="">
                <div class="inp-wrp">
                    <input class="footer-form" type="email" name="email" placeholder="Placeholder" pattern="email"
                        required>
                    <p class="text-valid">Succes!</p>
                    <p class="text-invalid">Invalid email, try again</p>
                </div>

                <button class="button-send" type="submit">Join</button>
                <p>By subscribing, you consent to our Privacy Policy and agree to receive updates.</p>
            </form>
        </div>
        <div class="footer-navigation column">
            <div>
                <h3>Quick Links</h3>
                <ul>
                    <li>Yoga Classes</li>
                    <li>Team</li>
                    <li>Pricing</li>
                    <li>Contacts</li>
                </ul>
            </div>
            <div>
                <h3>Connect With Us</h3>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="social-link">Facebook
                            <svg width="24" height="24">
                                <use href="../img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ " target="_blank" class="social-link">Instagram
                            <svg width="24" height="24">
                                <use href="../img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/ " target="_blank" class="social-link">LinkedIn
                            <svg width="24" height="24">
                                <use href="../img/icons.svg#icon-linkedIn"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/ " target="_blank" class="social-link">YouTube
                            <svg width="24" height="24">
                                <use href="../img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>© 2025 Yoga Studio. All rights reserved.</p>
    </div>
</footer>