<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-head">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-1.jpg    1x,
              /img/gallery/gallery-desk-1@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-1.jpg    1x,
              /img/gallery/gallery-tab-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-1.jpg"
            srcset="/img/gallery/gallery-mob-1@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-2.jpg    1x,
              /img/gallery/gallery-desk-2@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-2.jpg    1x,
              /img/gallery/gallery-tab-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-2.jpg"
            srcset="/img/gallery/gallery-mob-2@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-3.jpg    1x,
              /img/gallery/gallery-desk-3@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-3.jpg    1x,
              /img/gallery/gallery-tab-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-3.jpg"
            srcset="/img/gallery/gallery-mob-3@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-4.jpg    1x,
              /img/gallery/gallery-desk-4@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-4.jpg    1x,
              /img/gallery/gallery-tab-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-4.jpg"
            srcset="/img/gallery/gallery-mob-4@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-5.jpg    1x,
              /img/gallery/gallery-desk-5@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-5.jpg    1x,
              /img/gallery/gallery-tab-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-5.jpg"
            srcset="/img/gallery/gallery-mob-5@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="
              /img/gallery/gallery-desk-6.jpg    1x,
              /img/gallery/gallery-desk-6@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              /img/gallery/gallery-tab-6.jpg    1x,
              /img/gallery/gallery-tab-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="/img/gallery/gallery-mob-6.jpg"
            srcset="/img/gallery/gallery-mob-6@2x.jpg 2x"
            alt="people practicing yoga in a calm studio"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
