<section class="header">
  <div class="container header-container">
    <button class="burger-button" type="button" data-modal-open>
      <svg class="menu-button-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-burgermenu"></use>
      </svg>
    </button>
    <ul class="header-list">
      <li class="header-list-item">
        <a class="header-list-link current" href="#">Yoga Classes</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link" href="#team">Team</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link" href="#testimonials">Testimonials</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link" href="#pricing">Pricing</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-link" href="#footer">Contacts</a>
      </li>
    </ul>

    <svg class="logo header-logo" width="84" height="36">
      <use href="/img/icons.svg#icon-company-logo"></use>
    </svg>
    <a class="header-link-subbutton" href="#pricing">Join</a>

    <a class="header-link-subbutton-tab mob-subbutton" href="#pricing"
      >Join Now</a
    >
  </div>

  <div class="mobile-menu" data-modal>
    <div class="container mobile-menu-container">
      <div class="mob-menu-container">
        <button class="mobile-menu-close-btn" data-modal-close>
          <svg class="mobile-menu-close-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>

        <svg class="logo header-logo" width="84" height="36">
          <use href="/img/icons.svg#icon-company-logo"></use>
        </svg>
        <a class="header-link-subbutton mob-subbutton" href="#pricing">Join</a>
        <a class="header-link-subbutton-tab mob-subbutton" href="#pricing"
          >Join Now</a
        >
      </div>
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-list-link" href="#">Yoga Classes</a>
        </li>
        <li class="menu-list-item">
          <a class="header-list-link" href="#team">Team</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#pricing">Pricing</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-list-link" href="#footer">Contacts</a>
        </li>
      </ul>

      <a class="menu-button" href="#pricing">Join Now</a>
    </div>
  </div>
</section>
<script src="/js/mob-menu.js"></script>
