<section id="hero-section" class="hero-section">
  <div class="container">
    <picture class="hero-baner">
      <source
        srcset="/img/hero/hero-task-min.jpg 1x,
        /img/hero/hero-task@2x-min.jpg 2x/>"
        media="(min-width: 1336px)"
      />
      <source
        srcset="/img/hero/hero-tab-min.jpg 1x, /img/hero/hero-tab@2x-min.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/hero/hero-mob-min.jpg 1x, /img/hero/hero-mob@2x-min.jpg 2x"
        media="(min-width: 320px)"
      />
      <img
        class="hero-image"
        src="/img/hero/hero-mob-min.jpg"
        srcset="/img/hero/hero-mob@2x-min.jpg"
        alt="Hero image"
      />
    </picture>
    <div class="hero-box">
      <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
      <div class="hero-text-desktop">
        <p class="hero-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <div class="hero-btn">
          <a href="#pricing" class="hero-btn-join">Join Now</a>
          <a href="#gallery" class="hero-btn-learn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
