<!-- Modal 1 -->
<div class="modal-backdrop" id="modal1">
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">One Session</p>
    <p class="modal-price">$10</p>
    <form class="modal-form">
      <label class="modal-label">
        Your Name
        <input class="modal-input" type="text" name="name" placeholder="Name" />
      </label>
      <div class="modal-label-group">
        <label class="modal-label group">
          Email
          <input
            class="modal-input"
            type="email"
            name="email"
            placeholder="E-mail"
          />
        </label>
        <label class="modal-label group">
          Phone number
          <input
            class="modal-input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
          />
        </label>
      </div>
      <button type="submit" class="modal-submit">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Modal 2 -->
<div class="modal-backdrop" id="modal2">
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">8 Sessions Package</p>
    <p class="modal-price">$65</p>
    <form class="modal-form">
      <label class="modal-label">
        Your Name
        <input class="modal-input" type="text" name="name" placeholder="Name" />
      </label>
      <div class="modal-label-group">
        <label class="modal-label">
          Email
          <input
            class="modal-input"
            type="email"
            name="email"
            placeholder="E-mail"
          />
        </label>
        <label class="modal-label">
          Phone number
          <input
            class="modal-input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
          />
        </label>
      </div>
      <button type="submit" class="modal-submit">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal-backdrop" id="modal3">
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-subtitle">12 Sessions Package</p>
    <p class="modal-price">$80</p>
    <form class="modal-form">
      <label class="modal-label">
        Your Name
        <input class="modal-input" type="text" name="name" placeholder="Name" />
      </label>
      <div class="modal-label-group">
        <label class="modal-label">
          Email
          <input
            class="modal-input"
            type="email"
            name="email"
            placeholder="E-mail"
          />
        </label>
        <label class="modal-label">
          Phone number
          <input
            class="modal-input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
          />
        </label>
      </div>
      <button type="submit" class="modal-submit">Go to checkout</button>
    </form>
  </div>
</div>
