<section class="section team-section">
  <div class="container team-container">
    <h3 class="team-title-tagline">Meet</h3>
    <h2 class="team-title">Our Team</h2>
    <p class="team-title-description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-list">
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-1-min.jpg    1x,
              /img/team/team-mob-1@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-1-min.jpg    1x,
              /img/team/team-mob-1@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-1-min.jpg    1x,
              /img/team/team-tab-1@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-1-min.jpg    1x,
              /img/team/team-desk-1@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-1-min.jpg"
            alt="foto Liam Johnson"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Liam Johnson</h3>
          <p class="team-member-occupation">Yoga Instructor</p>
          <p class="team-member-role">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-2-min.jpg    1x,
              /img/team/team-mob-2@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-2-min.jpg    1x,
              /img/team/team-mob-2@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-2-min.jpg    1x,
              /img/team/team-tab-2@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-2-min.jpg    1x,
              /img/team/team-desk-2@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-2-min.jpg"
            alt="foto Emma Stone"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Emma Stone</h3>
          <p class="team-member-occupation">Meditation Coach</p>
          <p class="team-member-role">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-3-min.jpg    1x,
              /img/team/team-mob-3@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-3-min.jpg    1x,
              /img/team/team-mob-3@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-3-min.jpg    1x,
              /img/team/team-tab-3@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-3-min.jpg    1x,
              /img/team/team-desk-3@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-3-min.jpg"
            alt="foto Sophia Lee"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Sophia Lee</h3>
          <p class="team-member-occupation">Pilates Trainer</p>
          <p class="team-member-role">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-4-min.jpg    1x,
              /img/team/team-mob-4@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-4-min.jpg    1x,
              /img/team/team-mob-4@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-4-min.jpg    1x,
              /img/team/team-tab-4@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-4-min.jpg    1x,
              /img/team/team-desk-4@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-4-min.jpg"
            alt="foto Noah Brown"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Noah Brown</h3>
          <p class="team-member-occupation">Yoga Therapist</p>
          <p class="team-member-role">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-5-min.jpg    1x,
              /img/team/team-mob-5@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-5-min.jpg    1x,
              /img/team/team-mob-5@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-5-min.jpg    1x,
              /img/team/team-tab-5@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-5-min.jpg    1x,
              /img/team/team-desk-5@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-5-min.jpg"
            alt="foto Ava Green"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Ava Green</h3>
          <p class="team-member-occupation">Fitness Trainer</p>
          <p class="team-member-role">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="21"
                height="21"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-linkedIn"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-member">
        <picture>
          <!-- 1) Mobile fluid: до 375px (верстка гумова від 320px до 374px) -->
          <source
            media="(max-width: 374px)"
            srcset="
              /img/team/team-mob-6-min.jpg    1x,
              /img/team/team-mob-6@2x-min.jpg 2x
            "
            sizes="100vw"
          />

          <!-- 2) Mobile adaptive: від 375px до 767px -->
          <source
            media="(min-width: 375px) and (max-width: 767px)"
            srcset="
              /img/team/team-mob-6-min.jpg    1x,
              /img/team/team-mob-6@2x-min.jpg 2x
            "
            sizes="343px"
          />

          <!-- 3) Tablet: від 768px до 1335px -->
          <source
            media="(min-width: 768px) and (max-width: 1335px)"
            srcset="
              /img/team/team-tab-6-min.jpg    1x,
              /img/team/team-tab-6@2x-min.jpg 2x
            "
            sizes="340px"
          />

          <!-- 4) Desktop: від 1336px і більше -->
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/team/team-desk-6-min.jpg    1x,
              /img/team/team-desk-6@2x-min.jpg 2x
            "
            sizes="420px"
          />

          <img
            src="/img/team/team-mob-6-min.jpg"
            alt="foto Clark Thomas"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
          />
        </picture>
        <div class="team-member-info">
          <h3 class="team-member-name">Clark Thomas</h3>
          <p class="team-member-occupation">Fitness Trainer</p>
          <p class="team-member-role">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
        </div>
        <ul class="member-socials-list">
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="21"
                height="21"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="member-socials-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                class="icon-social"
                width="19"
                height="18"
                viewBox="0 0 32 32"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
