.programs {
  padding: 64px 0;
  background: #f2fafa;
  color: #0d0b0a;
}

.container-programs {
  width: 100%;
  margin: 0 auto;
}

.intro-text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
}

.programs-main {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.page-subtitle {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 48px;
}

.programs-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  max-width: 343px;
}

.programs-picture {
  border-radius: 16px;
}

.elements-item {
  padding-top: 24px;
}

.programs-subtitle {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}

.programs-text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  line-height: 1.6;
  text-align: center;
}

.programs-button {
  max-width: 343px;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  border: 1px solid #c2d9fc;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: #c2d9fc;
  padding: 10px 24px;
  margin: 48px auto 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.programs-button:hover,
.programs-button:focus {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid #868584;
}

@media screen and (min-width: 768px) {
  .programs {
    padding: 40px 0;
    background-color: #f2fafa;
  }

  .container-programs {
    max-width: 768px;
    padding-bottom: 21px;
  }

  .intro-text {
    margin-bottom: 16px;
  }

  .programs-main {
    margin-bottom: 24px;
  }

  .page-subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .programs-list {
    gap: 24px;
    max-width: 704px;
  }

  .programs-item:nth-child(-n + 2) {
    max-width: 340px;
  }
  .elements-item {
    padding-top: 16px;
  }
  .programs-subtitle {
    margin-bottom: 0;
  }
  .programs-button {
    margin: 40px auto 0;
    max-width: 110px;
    min-height: 46px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1335px) {
  .programs-item:nth-child(3) {
    width: 100%;
  }
}

@media screen and (min-width: 1336px) {
  .programs {
    padding: 112px 0;
  }

  .container-programs {
    max-width: 1440px;
  }

  .programs-main {
    font-size: 52px;
    margin: 0 auto 24px;
    max-width: 768px;
    text-align: center;
  }

  .page-subtitle {
    margin: 0 auto 40px;
    max-width: 768px;
  }

  .programs-list {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1312px;
    justify-content: center;
  }
  .programs-list .programs-item {
    max-width: calc((100% - 48px) / 3);
  }
  .programs-item img {
    height: 240px;
  }
  .elements-item {
    padding-top: 32px;
  }
  .programs-subtitle {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
