.gallery {
    padding: 64px 0;
}
@media screen and (min-width: 768px) {
    .gallery {
        padding: 40px 0;
    }
    
}

@media screen and (min-width: 1336px) {
    .gallery {
        padding: 112px 0;
    }
}

.gallery-head {
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .gallery-head {margin-bottom: 24px;
    }
}

@media screen and (min-width: 1336px) {
    .gallery-head {
        font-size: 52px;
    }
}

.gallery-text {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .gallery-text {
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1336px) {
    .gallery-text {
        font-weight: 500;
        width: 768px;
        margin: 0 auto;
        margin-bottom: 80px;
        }
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px ;
}

@media screen and (min-width: 1336px) {
    .gallery-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
