.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.is-hidden {
  display: none;
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 100vw;
  min-height: 100vh;
  background-color: #dfebeb;
  border-radius: 0;
  padding: 64px 16px 112px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow-y: visible;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  fill: #0d0b0a;
}

.modal-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 32px;
}

.modal-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 8px;
}

.modal-price {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 32px;
}

.modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  text-align: left;
  gap: 8px;
}
.modal-label-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-input {
  background: rgba(13, 11, 10, 0.05);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  max-width: 100%;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  padding: 8px 12px;
  color: rgba(13, 11, 10, 0.6);
}

.modal-submit {
  width: 100%;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  max-width: 343px;
  height: 46px;
  color: #0d0b0a;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  cursor: pointer;
  background-color: #c2d9fc;
  transition: background-color 0.3s ease;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
}

/* Responsive */
@media screen and (min-width: 768px) {
  .modal-backdrop {
    background: rgba(0, 0, 0, 0.25);
    padding: 225px 32px;
  }

  .modal {
    border-radius: 16px;
    max-width: 704px;
    padding: 64px 92px;
    margin: 0 auto;
    min-height: auto;
  }

  .modal-title {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .modal-subtitle {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .modal-price {
    font-size: 36px;
    margin-bottom: 24px;
  }

  .modal-form {
    column-gap: 24px;
  }

  .modal-label-group {
    display: flex;
    row-gap: 24px;
    width: 100%;
    flex-direction: row;
  }
  .modal-label-group .modal-label {
    flex: 1;
    min-width: 0;
  }

  .modal-input {
    width: 100%;
    height: 42px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .modal-submit {
    width: 155px;
    margin: 0 auto;
    height: 46px;
  }
}

@media screen and (min-width: 1336px) {
  .modal-backdrop {
    padding: 128px 336px;
  }

  .modal {
    max-width: 768px;
    padding: 64px;
  }
}
