.pricing {
  padding: 64px 0;
  background-color: #f8fbfe;
  color: #0d0b0a;
}
.pricing-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
.pricing-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}
.pricing-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 48px;
}

.pricing-list-item {
  padding: 32px 24px;
  background: #dfebeb;
  border: 0px solid rgba(13, 11, 10, 0.15);
  border-radius: 16px;
}
.pricing-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.pricing-card-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 8px;
}
.pricing-card-price {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 24px;
}
.pricing-card-sublist {
  padding: 8px 0px;
  margin-bottom: 32px;
}
.pricing-card-sublist-item {
  display: flex;
  gap: 16px;
  align-items: start;
}
.pricing-card-sublist-item:not(:last-child) {
  margin-bottom: 16px;
}
.pricing-card-sublist-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}
.pricing-list-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  display: block;
  margin: 0 auto;
  min-width: 243px;
  height: 46px;
  border-radius: 100px;
  background-color: #c2d9fc;
  border: 1px solid #c2d9fc;
  color: #0d0b0a;
}
.pricing-list-item-btn:hover,
.pricing-list-item-btn:active {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid #868584;
}
.pricing-list-item-btn.tablet {
  display: none;
}
@media only screen and (min-width: 768px) {
  .pricing {
    padding: 40px 0;
    background-color: #f2fafa;
  }
  .pricing-subtitle {
    margin-bottom: 16px;
  }
  .pricing-title {
    margin-bottom: 24px;
  }
  .pricing-text {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .pricing-list {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  .pricing-list-item {
    padding: 16px;
  }
  .pricing-list-item:not(:last-child) {
    margin: 0;
  }
  .pricing-list-item:last-child {
    width: 100%;
    padding: 86px 16px;
    display: flex;
    gap: 32px;
  }

  .pricing-card-title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 8px;
  }
  .pricing-list-item:last-child .pricing-card-title {
    margin-bottom: 24px;
  }
  .pricing-card-price {
    font-size: 72px;
    margin-bottom: 32px;
  }
  .pricing-list-item:last-child .pricing-card-price {
    margin-bottom: 24px;
  }
  .pricing-card-sublist {
    padding: 8px 0px;
    margin-bottom: 22px;
  }
  .pricing-list-item:last-child .pricing-card-sublist {
    margin: 0;
  }
  .pricing-card-sublist-item {
    display: flex;
    gap: 16px;
    align-items: start;
  }
  .pricing-card-sublist-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .pricing-list-item-btn {
    min-width: 308px;
  }
  .pricing-list-item-btn.tablet {
    display: block;
  }
  .pricing-list-item-btn.mobile {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .pricing {
    padding: 112px 0;
  }
  .pricing-title {
    font-size: 52px;
  }
  .pricing-text {
    margin-bottom: 40px;
  }
  .pricing-list {
    gap: 24px;
    display: flex;
  }
  .pricing-list-item {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
  .pricing-list-item:last-child {
    display: block;
    width: calc((100% - 48px) / 3);
    padding: 32px;
  }

  .pricing-list-item:last-child .pricing-card-title {
    margin-bottom: 8px;
  }
  .pricing-list-item:last-child .pricing-card-price {
    margin-bottom: 32px;
  }
  .pricing-card-sublist {
    margin-bottom: 116px;
  }
  .pricing-list-item:last-child .pricing-card-sublist {
    margin-bottom: 32px;
  }
  .pricing-list-item-btn {
    min-width: 320px;
  }
  .pricing-list-item-btn.tablet {
    display: none;
  }
  .pricing-list-item-btn.mobile {
    display: block;
  }
}
