.testimonials {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #f2fafa;
}

.testimonials__title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 20px;
}
.testimonials__subtitle {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 24px;
}
.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.testimonials__item {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  border-radius: 24px;
  padding: 12px;
  background: #dfebeb;
  max-width: 100%;
}
.testimonials__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  max-width: 319px;
  display: block;
  margin: 0 auto;
}
.testimonials-text-phrase {
  display: inline;
}
.testimonials__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials__avatar {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-bottom: 16px;
}
.testimonials__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #0d0b0a;
}
.testimonials__position {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0d0b0a;
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .testimonials__title {
    font-size: 40px;
    line-height: 1.2;
  }
  .testimonials__list {
    flex-wrap: wrap;
  }
  .testimonials__item {
    width: 704px;
    justify-content: space-between;
    min-height: 321px;
    height: auto; 
  }
  /* .testimonials__item:nth-child(1),
  .testimonials__item:nth-child(2) {
    height: 356px;
  }

  .testimonials__item:nth-child(3),
  .testimonials__item:nth-child(4) {
    height: 321px;
  } */
  .testimonials__text {
    max-width: 100%;
  }
}

@media screen and (min-width: 1336px) {
  .testimonials {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .testimonials__list {
    align-items: unset;
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonials__item {
    width: calc((100% - 24px) / 2);
  }
  .testimonials__text {
    max-width: 100%;
  }
  
}
